<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.boolokam.boolokamtv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon"

        >
        <activity
            android:name=".ui.activities.SignUpActivity"
            android:theme="@style/AppTheme"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name=".ui.activities.SignInActivity"
            android:theme="@style/AppTheme"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name=".ui.activities.LeaderboardActivity"
            android:exported="true"
            android:theme="@style/AppThemeActionDestils" />
        <activity
            android:name=".ui.activities.MovieVotesActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.StripeActivity"
            android:exported="true"
            android:theme="@style/Theme.ProfileDialog" />
        <activity
            android:name=".ui.activities.FinishActivity"
            android:exported="true"
            android:theme="@style/Theme.ProfileDialog" />
        <activity
            android:name=".ui.activities.PlansActivity"
            android:exported="true"
            android:theme="@style/Theme.ProfileDialog" />
        <activity
            android:name=".ui.activities.CashActivity"
            android:exported="true"
            android:theme="@style/Theme.ProfileDialog" />
        <activity
            android:name=".ui.activities.PasswordActivity"
            android:exported="true"
            android:theme="@style/Theme.ProfileDialog" />
        <!--
<meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        -->
        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <!-- Original AdMob app ID: ca-app-pub-1100520459694923~7000554554 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1100520459694923~7000554554" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service
            android:name=".services.DownloadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.ToastService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.PlayerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:exported="true"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="${applicationId}.cast.CastOptionsProvider" />

        <service
            android:name=".services.NotifFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".cast.ExpandedControlsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.CastVideosDark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:launchMode="singleTask"
                android:value="com.boolokam.boolokamtv.ui.activities.PlayerActivity" />
        </activity>
        <activity
            android:name=".ui.activities.IntroActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activities.MovieActivity"
            android:exported="true"
            android:theme="@style/AppThemeActionDestils" />
        <activity
            android:name=".ui.activities.HomeActivity"
            android:exported="true"
            android:theme="@style/AppThemeActionDestils" />
        <activity
            android:name=".ui.activities.YoutubeActivity"
            android:screenOrientation="landscape"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activities.ActorsActivity"
            android:exported="true"
            android:theme="@style/AppThemeNoAction" />
        <activity
            android:name=".ui.activities.ActorActivity"
            android:exported="true"
            android:theme="@style/AppThemeActionDestils" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="true"
            android:theme="@style/AppThemeActionDestilsNew" />
        <activity
            android:name=".ui.activities.LoadActivity"
            android:exported="true"
            android:theme="@style/AppThemeActionDestils">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="@string/panel_url" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.GenreActivity"
            android:exported="true"
            android:theme="@style/AppThemeNoAction" />
        <activity
            android:name=".ui.activities.TopActivity"
            android:exported="true"
            android:theme="@style/AppThemeNoAction" />
        <activity
            android:name=".ui.activities.MyListActivity"
            android:exported="true"
            android:theme="@style/AppThemeNoAction" />
        <activity
            android:name=".ui.activities.SerieActivity"
            android:exported="true"
            android:theme="@style/AppThemeActionDestils" />
        <activity
            android:name=".ui.activities.EditActivity"
            android:exported="true"
            android:theme="@style/Theme.ProfileDialog" />
        <activity
            android:name=".ui.activities.ChannelActivity"
            android:exported="true"
            android:theme="@style/AppThemeActionDestils" />
        <activity
            android:name=".ui.activities.CategoryActivity"
            android:exported="true"
            android:theme="@style/AppThemeNoAction" />
        <activity
            android:name=".ui.activities.SearchActivity"
            android:exported="true"
            android:theme="@style/AppThemeNoAction" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="true"
            android:theme="@style/AppThemeActionDestils">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:exported="true"
            android:theme="@style/AppThemeNoAction" />
        <activity
            android:name=".ui.activities.SupportActivity"
            android:exported="true"
            android:theme="@style/Theme.ProfileDialog" />
        <activity
            android:name=".ui.activities.PolicyActivity"
            android:exported="true"
            android:theme="@style/AppThemeNoAction" />
        <activity
            android:name=".ui.activities.EmbedActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activities.RefundActivity"
            android:exported="true"
            android:theme="@style/AppThemeNoAction" />
    </application>

</manifest>